* {
  margin: 0;
  padding: 0;
}

.formulario {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
}

label,
input {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  border: 1px solid blue;
  background-color: transparent;
}

.button {
  text-align: center;
}

.footer {
  margin-top: 1rem;
  text-align: center;
}
